# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
numerical/*

# Ignore compiled libraries
*.so
*.dylib
*.dll

# Ignore temporary files
*.tmp
*.log
*.out

# Ignore data files
*.csv
*.dat
*.npz
*.h5

#ignore tools for testing files
test_tool/*